*{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(63, 8, 63);
    color: whitesmoke;
}
h2{
    width: fit-content;
    margin: 8% auto 0 auto;
    text-transform: uppercase;
}
.password{
    width: 20%;
    padding: 8px;
    display: flex;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 6%;
    background-color: rgb(24, 9, 24);
    justify-content: space-between;
}
#passText{
    border: none;
    color: yellowgreen;
    font-size: 20px;
    background-color: rgb(24, 9, 24);

}
#copyImg {
    width: 18px;
    fill: white;
    background-color: rgb(24, 9, 24);
}
#copyBtn{
    border: none;
    /* background-color: none;*/
    background-color: rgb(24, 9, 24);
    align-self: self-end;
}
.container{
    border: 3px solid black;
    border-radius: 4%;
    width: 20%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.checkBoxes{
    width: fit-content;
    /* display: flex;
    flex-direction: column; */
}

#passLengText{
    margin-left: 50%;
    color: yellowgreen;
}

#genPass{
    background-color: palevioletred;
    border: none;
    border-bottom: 3px solid yellowgreen;
    border-radius: 4%;
    padding: 5px;
    color: yellowgreen;
    font-size: 18px;
}
#genPass:hover{
    background-color: rgb(63, 8, 63);
    border-bottom: 3px solid palevioletred;
    color: black;
    cursor:pointer;
}
.strength{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#strengthIndicator{
    width: 12px;
    height: 12px;
    background-color: rgb(236, 51, 51);
    border-radius: 100%;
}